@charset 'utf-8';



@keyframes expanding {
    from {
        width: 90px;
    }
    to {
        width: 300px;
    }
}

@-moz-keyframes expanding {
    from {
        width: 90px;
    }
    to {
        width: 300px;
    }
}

@-webkit-keyframes expanding {
    from {
        width: 90px;
    }
    to {
        width: 300px;
    }
}



@keyframes collapsing {
    from {
        width: 300px;
    }
    to {
        width: 90px;
    }
}

@-moz-keyframes collapsing {
    from {
        width: 300px;
    }
    to {
        width: 90px;
    }
}

@-webkit-keyframes collapsing {
    from {
        width: 300px;
    }
    to {
        width: 90px;
    }
}



@keyframes appearing-from-fog {
    from {
        opacity: .6;
    }
 
    to {
        opacity: .2;
    }
}

@-moz-keyframes appearing-from-fog {
    from {
        opacity: .6;
    }
 
    to {
        opacity: .2;
    }
}

@-webkit-keyframes appearing-from-fog {
    from {
        opacity: .6;
    }
 
    to {
        opacity: .2;
    }
}



@keyframes disapearing-from-sight {
    from {
        opacity: 0;
    }
 
    to {
        opacity: .6;
    }
}

@-moz-keyframes disapearing-from-sight {
    from {
        opacity: 0;
    }
 
    to {
        opacity: .6;
    }
}

@-webkit-keyframes disapearing-from-sight {
    from {
        opacity: 0;
    }
 
    to {
        opacity: .6;
    }
}




