@charset 'utf-8';



/* ---------------------------------------
   滙入過場動畫設置
   --------------------------------------- */
@import url('./keyframes.css') all;


/* ---------------------------------------
   可適性區塊配置
   --------------------------------------- */
@media screen and (max-width: 799px) {
    nav#sidebar {
        animation-name: none !important;
        -moz-animation-name: none !important;
        -webkit-animation-name: none !important;
    }

    nav#sidebar.off {
        background: none !important;
        border: 0 !important;
        box-shadow: none !important;
        top: 0;
        width: 100% !important;
    }

    nav#sidebar.off > ul {
        display: none;
    }

    nav#sidebar.on {
        height: 100%;
        position: fixed;
        width: 70% !important;
    }

    nav#sidebar.on > ul {
        position: absolute;
        top: 7%;
        width: 100%;
    }

    nav#sidebar.on header {
        display: none;
    }

    nav#sidebar.off header {
        display: block;
        margin: 3em 0 0;
    }

    nav#sidebar.off button#for-sidebar-nav {
        animation-name: none !important;
            -moz-animation-name: none !important;
            -webkit-animation-name: none !important;
        background: url('../img/switch-for-nav.png') no-repeat 0 0;
        box-shadow: none;
        height: 30px;
        left: 5px;
        position: fixed;
        top: 5px;
        transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        width: 30px;
        z-index: 1000;
    }

    nav#sidebar.on button#for-sidebar-nav {
        left: 70%;
        margin-left: -40px;
    }

    nav#sidebar.on button#for-sidebar-nav:after {
        content: '';
        display: block;
        height: 100%;
        left: 253px;
        position: fixed;
        top: 0;
        width: 100%;
    }


    #fork {
        display: none;
    }

    article {
        margin: 0 auto;
        padding: 5em 0 15em;
        width: 90%;
    }

    nav#sidebar.on ~ article {
        padding-top: 236px;
    }


    article h4:before {
        margin-left: -.6em !important;
    }

    article:lang(zh) p {
        text-indent: 1em;
    }

    article:lang(zh).poem-like p,
    article:lang(zh) blockquote.poem-like p,
    article:lang(zh) p.poem-like,
    article:lang(zh) ol > li,
    article:lang(zh) ul > li {
        margin-left: 1em;
        padding: 0;
        text-indent: 0;
    }

    article:lang(zh) blockquote {
        margin-left: 1em;
    }

    article:lang(zh) blockquote blockquote {
        margin-left: 1em;
        padding-left: 1em;
    }
}


@media screen and (min-width: 800px) {
    header {
        margin-left: 33px;
        padding: 2.5em 0 3.5em;
        width: 235px;
        z-index: 3;
    }

    nav#sidebar {
        height: 100%;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 90px;
    }

    article {
        left: 105px;
        margin: 0 3%;
        padding: 15em 0 20em;
        position: absolute;
        top: 0;
        width: -webkit-calc(94% - 105px);
    }

    article h1:nth-of-type(1) {
        border: 0 none;
        margin: 1.5em 0 2.25em;
        text-align: center;
    }
}

@media screen and (min-width: 800px) and (max-width: 1049px) {
    nav#sidebar.on {
        box-shadow: #6e5a45 0 0 30px;
    }

    nav#sidebar.on button#for-sidebar-nav {
        left: 263px;
    }

    /* 在此視窗寬度區間內，使用者可藉由「按下內容區塊」關閉導覽選單 */
    nav#sidebar.on button#for-sidebar-nav:after {
        content: '';
        cursor: text;
        display: block;
        height: 100%;
        position: fixed;
        width: 100%;
    }

    nav:not(.off) button#for-sidebar-nav:hover {
        opacity: .7 !important;
    }
}

@media screen and (max-width: 1049px) {
    nav#sidebar.on {
        box-shadow: #6e5a45 0 0 30px;
    }
}

@media screen and (min-width: 1050px) {
    nav#sidebar {
        overflow: auto;
        width: 300px;
    }

    nav#sidebar button#for-sidebar-nav {
        background-color: none;
        border: 0;
    }

    nav#sidebar ~ article {
        width: calc(90% - 300px);
        width: -moz-calc(90% - 300px);
        width: -webkit-calc(90% - 300px);
    }

    nav#sidebar.on ~ article {
        left: 300px;
        margin-left: 5%;
    }

    nav#sidebar.off ~ article {
        left: 5%;
        margin-left: 197px;
    }
}




nav#sidebar {
    background-color: #dadad2;
    border-right: 2px solid #f9f9f7;
    box-shadow: inset #cbcbbf -20px 20px 35px,
                inset #333 -1px 0 0,
                #ddd 1px 0 0;
    -webkit-overflow-scrolling: touch;
    z-index: 20;
}

#fork {
    z-index: 25;
}

nav#sidebar.off ~ #fork:hover {
    background-position: 0 -141px;
}

nav#sidebar.on {
    animation-duration: .5s;
        -moz-animation-duration: .5s;
        -webkit-animation-duration: .5s;
    animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    animation-name: expanding;
        -moz-animation-name: expanding;
        -webkit-animation-name: expanding;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
}

nav#sidebar.off {
    animation-duration: 1s;
        -moz-animation-duration: 1s;
        -webkit-animation-duration: 1s;
    animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    animation-name: collapsing;
        -moz-animation-name: collapsing;
        -webkit-animation-name: collapsing;
    border-right: 2px solid #fff;
    box-shadow: inset #cbcbbf -20px 20px 35px,
                inset #111 -1px 0 0,
                #ccc 1px 0 0;
    overflow: hidden;
    width: 90px;
}

button#for-sidebar-nav {
    background: url('../img/switch-for-nav.png') no-repeat;
    border: none;
    display: block;
    height: 31px;
    left: 310px;
    opacity: .5;
    position: fixed;
    text-indent: -999999px;
    top: 5px;
    width: 32px;
    z-index: 5;
}

nav:not(.off) button#for-sidebar-nav:hover {
    opacity: .9;
}


nav.off button#for-sidebar-nav:active {
    opacity: 0;
}

nav.off button#for-sidebar-nav {
    animation-duration: .8s;
        -moz-animation-duration: .8s;
        -webkit-animation-duration: .8s;
    animation-delay: .8s;
        -moz-animation-delay: .8s;
        -webkit-animation-delay: .8s;
    animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    animation-name: disapearing-from-sight;
        -moz-animation-name: disapearing-from-sight;
        -webkit-animation-name: disapearing-from-sight;
    background: #ddd;
    box-shadow: inset #aaa -10px 0 20px;
    height: 100%;
    left: 0;
    opacity: .6;
    top: 0;
    width: 90px;
    z-index: 1;
}

nav.off button#for-sidebar-nav:hover {
    animation-duration: .5s;
        -moz-animation-duration: .5s;
        -webkit-animation-duration: .5s;
    animation-delay: 0s;
        -moz-animation-delay: 0s;
        -webkit-animation-delay: 0s;
    animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    animation-name: appearing-from-fog;
        -moz-animation-name: appearing-from-fog;
        -webkit-animation-name: appearing-from-fog;
    opacity: .2;
}




nav#sidebar > ul {
    font-size: .9em;
    line-height: 1.7em;
    list-style: none;
    margin: 5em 0 3em;
    padding: 0;
    width: 300px;
}

nav#sidebar > ul :not(:lang(zh)) {
    letter-spacing: .1em;
}

nav#sidebar > ul > li > ol > li > a :not(:lang(zh)) {
    margin-left: -5px;
}

nav#sidebar > ul u.pn {
    margin-right: .25em;
}

nav#sidebar > ul > li > span.not-a-link,
nav#sidebar > ul > li > a:link,
nav#sidebar > ul > li > a:visited {
    border-bottom: 1px solid #eee;
    box-shadow: inset #ccc 0 -1px 0;
    color: #725530;
    display: block;
    letter-spacing: .5em;
    padding: 6px 10px 7px 25px;
}

nav#sidebar > ul > li > a:hover,
nav#sidebar > ul > li > a.current {
    background-color: #eee;
    border-top: 1px solid #ccc;
    box-shadow: inset #ddd 15px 0 25px;
    color: #4c4c3f;
    padding-top: 5px;
}

nav#sidebar > ul > li > span.not-a-link {
    color: #333;
}

nav#sidebar > ul > li > ol {
    background-color: #c0b36a;
    border-bottom: 1px solid #eee;
    box-shadow: inset #a29345 -1px 5px 10px;
    font-size: .95em;
    letter-spacing: .25em;
    padding: 0;
}

nav#sidebar > ul > li > ol > li > a:link, 
nav#sidebar > ul > li > ol > li > a:visited {
    border-bottom: 1px solid #b6a752;
    box-shadow: inset #d9d1a6 0 -1px 0;
    display: block;
    color: #665d2b;
    padding: .5em 15px .5em 2.5em;
}

nav#sidebar > ul > li > ol > li:last-child > a {
    border-bottom: 0 none;
    box-shadow: none;
}

nav#sidebar > ul > li > ol > li > a:hover,
nav#sidebar > ul > li > ol > li > a:active,
nav#sidebar > ul > li > ol > li > a.current {
    background-color: #d9d1a6;
    box-shadow: inset #c0b36a 0 3px 10px;
}

nav#sidebar > ul > li > ol > li > ol {
    background-color: #e2e2db;
    border-top: 1px solid #bbb;
    counter-reset: section-0;
    display: none;
    list-style: none;
    margin: -1px 0 0;
    padding: .5em 0;
}

nav#sidebar > ul > li > ol > li > ol li a {
    color: #666;
    display: block;
    margin: .125em 0;
    padding: 0 0 0 2em;
}

nav#sidebar > ul > li > ol > li > ol li a:hover {
    color: #33757e;
}

nav#sidebar > ul > li > ol > li > ol li a:before {
    content: counter(section-0) '　';
    counter-increment: section-0;
    display: inline-block;
    float: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: right;
    width: 3.5em;
}

.hanzi_biaozhun_geshi nav#sidebar a[href="hanzi_biaozhun_geshi/"] + ol,
.api nav#sidebar a[href="api/"] + ol,
.appendix nav#sidebar a[href="appendix/"] + ol {
    border-bottom: 1px solid #eee;
    display: block;
}

.appendix nav#sidebar a[href="appendix/"] + ol {
    border-bottom: 1px solid #ccc;
}



article header {
    background: none;
    margin: 0;
    width: 100%;
}

article h1:nth-of-type(1) {
    font: 1.7em 'Biaodian Pro Serif', Optima, Georgia, Times, 'Times New Roman',
    'Hiragino Mincho ProN', 'Hiragino Mincho Pro',
    'Kozuka Mincho Pro', 'Han Songti', serif;
    letter-spacing: .15em;
    padding: 0 0 .3em .25em;
}

:root:lang(zh) article h1 :not(:lang(zh)),
:root:lang(zh) article h1:nth-of-type(1):not(:lang(zh)) {
    font-family: Optima, Georgia, Times, 'Times New Roman',
    'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'Han Sonti', serif;
    letter-spacing: .05em;
}

article h1:nth-of-type(1),
article h1:nth-of-type(1) a:link,
article h1:nth-of-type(1) a:visited {
    border-bottom: 2px solid #dcbe7d;
    color: #b22731;
    text-shadow: #d99864 0 0 3px;
}

article h1:nth-of-type(1):hover,
article h1:nth-of-type(1) a:hover,
article h1:nth-of-type(1) a:active {
    border-bottom-color: #d1ab55;
    color: #ce2d39;
}

article header:nth-of-type(1) ~ p:nth-of-type(1):first-letter {
    display: inline-block;
    float: left;
    font: 2.5em Georgia, Times, 'Times New Roman', 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'Han Songti', serif;
    margin-right: .1em;
    margin-top: -moz-calc(.35em);
}

article header:nth-of-type(1) ~ p:nth-of-type(1) {
    text-indent: 0;
}

article header:nth-of-type(1) ~ p:nth-of-type(1) + * {
    clear: both;
}


article hr {
    background: url(../img/hr.png) no-repeat center center;
    border: 0 none;
    height: 15px;
    margin: 3em 0 2em;
    opacity: .6;
}


.no-biaodian {
    font-family: sans-serif;
}

article h2 {
    border-bottom: 1px solid #ccc;
    color: #6e5a45;
    letter-spacing: 5px;
    margin: 3.5em 0 1.5em;
    padding-bottom: .15em;
}

article h2 u:lang(zh) {
    border: 0 none;
    letter-spacing: inherit;
}

article h3 {
    color: #b93f1b;
}

article h2,
article h3 {
    font-family: 'Biaodian Pro Serif', Georgia, Times, 'Times New Roman',
        'Hiragino Mincho ProN', 'Hiragino Mincho Pro', serif;
    font-weight: normal;
}

article h4 {
    margin: 1.5em 0 .5em;
}

.han-biaodian-pro article h2 :not(:lang(zh)):not(:lang(ja)),
.han-biaodian-pro article h3 :not(:lang(zh)):not(:lang(ja)) {
    font-family: Georgia, Times, 'Times New Roman',
        'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'Kozuka Mincho Pro', serif;
    letter-spacing: 1px;
}


article a.external.text {
    background: url(../img/external.png) right 3px no-repeat;
    padding-right: 13px;
}

article a.external.img {
    background: none;
    padding-right: auto;
}



blockquote + p.cite {
    color: #333;
    font-size: .9em;
    margin: -1.5rem 0 2rem;
    text-align: right;
}

article:lang(zh) blockquote + p.cite:before {
    content: '——';
    font-family: 'Biaodian Pro Serif', 'Han Heiti', serif;
    padding-right: .25em;
}


ol.sections-menu {
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    counter-reset: section;
    display: inline-block;
    font: .9em 'Biaodian Pro Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none;
    margin: 1.25em 3em 2em;
    min-width: 13.5em;
    padding: 10px 20px 10px 1em;
}


ol.sections-menu li a:before {
    content: counter(section) '　';
    counter-increment: section;
}

ol.sections-menu ol {
    counter-reset: verse;
    list-style: none;
    margin: 0;
    padding-left: 2em;
}

ol.sections-menu ol li a:before {
    content: counter(section) '.' counter(verse) '　';
    counter-increment: verse;
}


/* pages for indexes */
ol.manual-index:nth-of-type(1) {
    counter-reset: section;
    font: .9em 'Biaodian Pro Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none;
    margin: 5em auto 2em;
    min-width: 13.5em;
    position: relative;
    width: 75%;
}

ol.manual-index:nth-of-type(1):after {
    background-color: #f1f1ee;
    border: 2px none #4c431d;
    border-style: solid none;
    box-shadow: inset #aaae98 10px 10px 30px;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    margin: -1.5em 0 2em;
    opacity: .3;
    padding: 2em 0 1em;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


ol.manual-index:nth-of-type(1) li a:before {
    content: counter(section) '　';
    counter-increment: section;
}

ol.manual-index:nth-of-type(1) ol {
    counter-reset: verse;
    list-style: none;
    margin: 0;
    padding-left: 4em;
}

ol.manual-index:nth-of-type(1) ol li a:before {
    content: counter(section) '.' counter(verse) '　';
    counter-increment: verse;
}

/* pages for indexes, ends */


article {
    counter-reset: section-1;
}

article h2:nth-of-type(1) {
    counter-reset: verse-1;
}

article header {
    counter-reset: section-1;
    counter-reset: verse-1;
}

article h2 {
    counter-increment: section-1;
    counter-reset: verse-1;
}

article h3:before {
    content: counter(section-1) '.' counter(verse-1);
    counter-increment: verse-1;
    font-weight: bolder;
    margin-right: .75em;
}

article h4:before {
    color: #962;
    content: '\F138';
    font-family: FontAwesome;
    font-weight: normal;
    font-size: .95em;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    margin: -1px .75em 0 .5em;
}






