
header.layout
  .manual &
    // style
    background-color: lighten(#e1eab1, 8%)
    border-bottom: 1px solid darken(#e1eab1, 3%)
    box-shadow: 0 -.5em 1.25em rgba(#ded684, 0.3) inset, 0 1px 0 rgba(#eeffde, 0.5)
  h1,
  p
    // posi
    margin: .55em auto
    // box
    display: inline-block
  h1
    // box
    padding-left: .55em
  p.desc
    // posi
    margin-top: -.25em
#github-repo
  @extend %github-repo
  // posi
  position: absolute
  right: 3rem
  // box
  height: 1.5rem
  width: 7.5rem
  overflow: hidden
#trad2simp
  @extend %fa
  @extend %fa-arrow-right

  &:before
    // posi
    position: absolute
    left: 1.2rem
    top: .27rem
    // typo
    font-size: .8rem
    color: #c0bd79
  // posi
  position: absolute
  right: 1rem
  // box (48x24px)
  width: 3rem
  height: 1.5rem
  overflow: hidden
  // style
  background: url(img/trad2simp.png) no-repeat
  background-size: 100%
  border: 0
  color: transparent
  outline: 0

  html:lang(zh-Hans) &
    @extend %fa-arrow-left
    background-position: 0 100%
