
body.index
  // typo
  font-size: 20px

  h1,
  h2,
  h3
    // typo
    font-weight: normal
    text-align: center
body.index .logo
  margin-bottom: 2.5em

  &,
  & p
    // typo
    text-align: center
body.index header.layout
  // posi
  position: relative
  height: 3rem
  > div
    // posi
    margin-top: .5rem
section#index
  // posi
  position: relative
  // box
  padding: 2.5em 0 4em

  &:before
    // posi
    position: absolute
    left: 0
    top: 0
    z-index: -5
    // box
    content: ''
    display: block
    height: 100%
    width: 100%
    // style
    background-color: #e1eab1
    background-image: -moz-radial-gradient(50% 50%, circle cover, #ddd, #e1eab1 60%)
    background-image: -ms-radial-gradient(50% 50%, circle cover, #ddd, #e1eab1 60%)
    background-image: -webkit-radial-gradient(50% 50%, circle cover, #ddd, #e1eab1 60%)
    background-image: radial-gradient(50% 50%, circle cover, #ddd, #e1eab1 60%)
    opacity: .7

  article
    // posi
    margin: 0 auto
    // box
    max-width: 30em
    padding: 0 .5em
  ul
    // posi
    margin-top: 3em
    // box
    padding: 0
    // typo
    list-style: none
    text-align: center

    li
      display: inline-block
    a
      // posi
      margin: 0 .4em
      // style
      border: 1px solid
      border-radius: .3em
      color: #000
    .github a
      @extend %github-repo
      // box
      padding: .5em .75em

      &:hover
        background-color: #a92828
        border-color: #a92828
        box-shadow: 0 3px 0 #e8d3d3
        color: #ffe0e0
    .manual a
      @extend %fa
      @extend %fa-book
      // box
      padding: .5em .75em
      // typo
      font-size: 1rem
      // style
      color: #1e7f0b

      &:before
        // posi
        margin-right: .2em
        // typo
        font-size: 1.3em
        vertical-align: -.07em
      &:hover
        background-color: #329419
        border-color: #329419
        border-bottom: 3px solid #75bf5b
        color: #d5ffc0
section#featuring
  article
    // posi
    margin: 0 auto
    // box
    max-width: 25em
    padding: 1em 0 2em
  h2,
  h3
    // typo
    text-align: left
    // style
    color: lighten(#daaf11, 3%)
  h3
    // style
    color: #daaf11
  p
    // box
    width: 90%
  section
    // posi
    margin-bottom: 3em
    position: relative
  section:nth-of-type(even)
    h3,
    p
      // posi
      margin-left: auto
      // typo
      text-align: right
    h3
      // style
      color: #4ac97f
  img
    position: absolute
#featuring-html5
  img
    // posi
    left: -10em
    top: -1.5em
    // box
    width: 11em
#featuring-typefaces
  img
    // posi
    right: -11em
    bottom: 0
    // box
    width: 10em
#featuring-typeset
  img
    // posi
    left: -23em
    top: -10em
    // box
    width: 23em
#featuring-em-based
  img
    // posi
    right: -15em
    bottom: -1em
    // box
    width: 14em
    // style
    background-color: rgba(#e4dab4, 0.4)
    border-radius: .25rem
section#used-by
  // box
  padding: 1em 0 2em
  // style
  border-top: 1px solid #ccc

  > div
    // posi
    margin: 0 auto
    // box
    max-width: 26em
  h2 + #tweets-about-han
    margin-top: -.5em
  ul
    @extend %fa-ul
    // posi
    margin-left: -1em
    // box
    padding: 0

    li
      @extend %fa
      @extend %fa-at
    li:before
      font-size: .9em
body.index footer.layout
  // box
  height: 3em
  // style
  background-color: #ecf2c0
  box-shadow: 0 1px .25em darken(#ecf2c0, 15%) inset
p.signature:lang(cmn)
  // typo
  text-align: center

  a
    // typo
    font-family: Zapfino, cursive, serif
    // style
    color: hsl(152, 34%, 40%)
