
/*  Manual page styles
   -------------------- */

body.manual
  // box
  padding-top: 2.5em
  // style
  background-color: #f6f6f6
  color: #222

/*  Layout composition
   -------------------- */

header.layout
  // posi
  position: fixed
  top: 0
  z-index: 100
  // box
  width: 100%

  .logo
    @media #{$small-up}
      p.desc
        display: none
    @media #{$small-only}
      text-align: center
    @media #{$medium-up}
      p.desc
        display: inline-block
    @media #{$medium-only}
    @media #{$large-up}
      // posi
      position: relative
      left: 50%
      margin-left: -30em
    @media #{$large-only}
nav.layout
  body[data-js-fixed-nav='true'] &
    +calc( 'height', '100% - 3.5em + 1px' )
    // posi
    position: fixed
    top: 3.5em
    // box
    padding: .5em 0
    overflow: hidden

    > ol
      // posi
      margin: 0
      // box
      height: 100%
      overflow-y: auto
      padding: 1em 0 3em
  @media #{$small-up}
    // posi
    position: absolute
    left: 1em
    top: 9em
    // box
    display: none
    width: 14em
  @media #{$small-only}
  @media #{$medium-up}
    display: block
  @media #{$medium-only}
  @media #{$average-up}
    // box
    width: 16em
  @media #{$average-only}
  @media #{$large-up}
    // posi
    left: 50%
    margin-left: -30em + 1em
article.layout
  @media #{$small-up}
    // posi
    position: relative
    margin: 2em auto
    // box
    max-width: 29em

    a.heading-anchor
      // posi
      left: auto
      margin-left: .25em
      // display-as
      opacity: .3
  @media #{$small-only}
  @media #{$screen} and (min-width: 40em)
    a.heading-anchor
      left: -1em
      margin-left: auto
  @media #{$medium-up}
    +calc( 'width', '100% - 15em - 3em' )
    // posi
    position: absolute
    margin-left: 16.5em
    // box
    max-width: 38em
  @media #{$medium-only}
  @media #{$average-up}
    +calc( 'width', '100% - 17em - 3em' )
    // posi
    margin-left: 0
    right: 1.5em

    a.heading-anchor
      opacity: 0
  @media #{$average-only}
  @media #{$large-up}
    // posi
    left: 50%
    margin-left: -8em-2em
    z-index: 20
    // box
    width: 38em
footer.layout
  // posi
  // box
  // typo
  // style

/*  Detailed layout styles
   ------------------------ */

@import layout/header
@import layout/nav
@import layout/article
