
body.manual
  // box
  padding-top: 2.5em
header.layout
  // posi
  position: fixed
  top: 0
  z-index: 100
  // box
  height: 3rem
  width: 100%
  padding: 0 .5em .25em

  > div
    h1,
    p
      // posi
      margin: .55em auto

    @media #{$small-up}
      p.desc
        display: none
      #toggle-nav
        display: block
    @media #{$small-only}
      text-align: center

      #github-repo
        display: none
    @media #{$medium-up}
      p.desc
        display: inline-block
      #toggle-nav
        display: none
    @media #{$medium-only}
    @media #{$large-up}
      // posi
      position: relative
      left: 50%
      margin-left: -30rem
      // box
      width: 60rem

      #github-repo
        right: 5rem
      #trad2simp
        right: 3rem
    @media #{$large-only}
#toggle-nav
  top: 0
#github-repo
  top: .7rem
#trad2simp
  top: .73rem
.fixed-nav header.layout
  height: auto
  padding: .125em .5em .25em

  > div
    h1,
    p
      margin: .25em auto
  #github-repo
    top: .47rem
  #trad2simp
    top: .5rem
nav.layout
  body.fixed-nav &
    +calc( 'height', '100% - 3.5em + 1px' )
    // posi
    position: fixed
    top: 3.5em
    // box
    overflow: hidden

    > ol
      // posi
      margin: 0
      // box
      height: 100%
      overflow-y: auto
      padding: 1em 0 3em
  @media #{$small-up}
    // posi
    position: absolute
    left: 1em
    top: 9em
    // box
    display: none
    width: 14em
  @media #{$small-only}
  @media #{$medium-up}
    display: block
  @media #{$medium-only}
  @media #{$average-up}
    // box
    width: 16em
  @media #{$average-only}
  @media #{$large-up}
    // posi
    left: 50%
    margin-left: -30em + 1em
// nav on mobile devices
nav.layout.on
  display: block !important
article.layout
  @media #{$small-up}
    // posi
    position: relative
    margin: 2em auto
    // box
    max-width: 29em

    a.heading-anchor
      // posi
      left: auto
      margin-left: .25em
      // display-as
      opacity: .3
    ul.share
      // typo
      text-align: center
    ul.github
      // box
      display: none
  @media #{$small-only}
  @media #{$screen} and (min-width: 40em)
    a.heading-anchor
      left: -1em
      margin-left: auto
  @media #{$medium-up}
    +calc( 'width', '100% - 15em - 3em' )
    // posi
    position: absolute
    margin-left: 16.5em
    // box
    max-width: 38em

    ul.share
      // typo
      text-align: left
    ul.github
      // box
      display: block
  @media #{$medium-only}
  @media #{$average-up}
    +calc( 'width', '100% - 17em - 3em' )
    // posi
    margin-left: 0
    right: 1.5em

    a.heading-anchor
      opacity: 0
  @media #{$average-only}
  @media #{$large-up}
    // posi
    left: 50%
    margin-left: -8em - 2em
    z-index: 20
    // box
    width: 38em
footer.layout
  // posi
  // box
  // typo
  // style

/* Navi situations
  ----------------- */
%nav-active
  background-color: #edebcd
  border-top-left-radius: 2px
  border-bottom-left-radius: 2px
  color: #9b7e12

.yangshi_biaozhunhua,
.wenzisheji,
.zhangjie_de_bianpai,
.hang_de_zucheng,
.sass-api,
.js-api
  nav.layout ol ol ol
    display: none
.yangshi_biaozhunhua nav .yangshi_biaozhunhua,
.wenzisheji nav .wenzisheji,
.zhangjie_de_bianpai nav .zhangjie_de_bianpai,
.hang_de_zucheng nav .hang_de_zucheng,
.sass-api nav .sass-api,
.js-api nav .js-api
  ol
    display: block !important
.jianjie nav .jianjie,
.anzhuang_yu_qiyong nav .anzhuang_yu_qiyong,
.faq nav .faq,
.glossary nav .glossary,
.yangshi_biaozhunhua nav .yangshi_biaozhunhua,
.wenzisheji nav .wenzisheji,
.zhangjie_de_bianpai nav .zhangjie_de_bianpai,
.hang_de_zucheng nav .hang_de_zucheng,
.sass-api nav .sass-api,
.js-api nav .js-api
  > a:link,
  > a:visited
    @extend %nav-active
