
$fa-font-path: './font'

// lib
@import ./font-awesome/font-awesome
@import ../asset/vendor/css/hljs.tomorrow
@import mixin
@import mq

// app
@import global
@import layout

#tweets-about-han,
p[data-twttr-id]
  // posi
  margin: 2em 0 1.5em
  // typo
  text-align: center

  > a
    // posi
    margin: 0 auto
    // box
    display: block
    width: 90%
    padding: .25em 0
    // style
    border: 1px solid
    border-radius: .25em
    color: #aaa

    &:hover
      color: #50d094
