doctype html
html(lang='zh-Hant').han-init
  head
    meta(charset='utf-8')
    title 漢字標準格式 — 印刷品般的漢字排版框架
    //- Han.css
    link(rel='stylesheet', href='{{asset-path}}latest/han.min.css')
    link(rel='stylesheet', href='{{asset-path}}style.css')

    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='印刷品般的漢字排版框架')
    meta(name='keywords' content='漢字標準格式, 中文, 排版, 排版規範, 日文, 字體排印, 文字設計, CLReq, CSS, Sass, typography')

    link(rel='shortcut icon' href='/img/favicon.png')
    link(rel='apple-touch-icon' href='{{asset-path}}img/apple-touch-icon.png')
  body.index
    header.layout
      div
        a#github-repo(href='https://github.com/ethantw/Han') GitHub Project
        button#trad2simp 繁簡切換
    main
      section#index: article
        .logo
          h1: a(href='/') 漢字標準格式
          p.desc 印刷品般的漢字排版框架
        p
          | 「漢字標準格式」是一套支援各種印刷效果的<!--
          | -->Sass + JavaScript排版框架，包含<!--
          | --><u>相鄰</u><u>文字裝飾線</u><u>跳脫</u>、
          ruby.rightangle
            rb 漢
            rb 字
            rb 標
            rb 音
            rtc.zhuyin
              rt ㄏㄢˋ
              rt ㄗˋ
              rt ㄅㄧㄠ
              rt ㄧㄣ
            rtc.pinyin
              rt(rbspan='2') hànzì
              rt(rbspan='2') biāoyīn
          | 、<em>着重號</em>、<!--
          | -->標點符號修正、
          abbr(title='黑、宋、楷、仿宋') 中文四大印刷體
          | 、漢字－西文mixed間隙、「標點『擠壓』」、章節邊界調整……
        p 
          | 集成「
          a(href='/manual/yangshi_biaozhunhua') 語意樣式標準化
          | 」「
          a(href='/manual/wenzisheji') 文字設計
          | 」「高級排版功能」三大模組，<!--
          | -->並為繁體中文、簡體中文及日文配置的本地化設計，「漢字標準格式」<!--
          | -->提供了萬維網時代的漢字問題解決之道。  
        ul
          li.github: a(href='https://github.com/ethantw/Han') GitHub Project
          li.manual: a(href='/manual') 使用手冊
        p.version 當前版本：<span>v3.0.0</span>
        footer.main-content: ul.share
          li: button#share2twr(title='分享至Twitter') 分享至Twitter
          li: button#share2fb(title='分享至Facebook') 分享至Facebook
          li: button#share2goog(title='分享至Google+') 分享至Google+
          li: button#share2wbo(title='分享至新浪微博') 分享至新浪微博
    section#featuring
      article
        // h2 印刷品般的漢字排版框架
        section#featuring-html5
          h3 完全相容HTML5，簡潔而不冗餘
          p 「漢字標準格式」嚴格遵守HTML5各種元素的語意，不使用冗餘繁雜的展示性類別（presentational classes），將元素的預設樣式重新定製、標準化，更適合漢字的書寫排印習慣。
          img(src='{{asset-path}}img/html5.svg')
        section#featuring-typefaces
          h3 不同文字、不同字體
          p 配合
            a(href='/manual/wenzisheji#ziti_huitui_jizhi') 精良的字體回退機制
            | ，「漢字標準格式」以字元為單位，為不同的語言文字分別套用最合適的字體。漢字、標點、西文各得其所，不再混亂。
          img(src='{{asset-path}}img/typefaces.svg')
        section#featuring-typeset
          h3 專為「舒適閱讀」打造
          p 諸多高級排版功能——如「
            a(href='/manual/hang_de_zucheng#hanzi-xiwen_hunpai_jianxi') 漢字－西文混排間隙
            | 」「
            a(href='/manual/hang_de_zucheng#biaodian_jiya') 標點擠壓
            | 」「
            a(href='/manual/zhangjie_de_bianpai#wenzhang_zhangjie_yu_neirong_de_bianjie_tiaozheng') 章節邊界調整
            | 」……等——皆為舒適閱讀打造，體驗如若印刷品般的螢幕閱讀。
          img(src='{{asset-path}}img/typeset.svg')
        section#featuring-em-based
          h3 以設計流線、而非像素呈現
          p 「漢字標準格式」重視語意、設計流線和彈性，所有樣式的呈現皆避免了以像素為單位的靜態設計。
          img(src='{{asset-path}}img/em-based.svg')
    section#used-by
      .used-by
        h2 使用「漢字標準格式」的網站
        ul
          li: a(href='https://moedict.tw/') 萌典
          li: a(href='http://itgonglun.com/') IT公論
          li: a(href='http://g0v.tw/') g0v零時政府
          li: a(href='http://markdown.tw/') Markdown中文語法說明
      .tweet
        <h2>推文</h2>
        <p id='tweets-about-han'><a class="twitter-timeline" href="https://twitter.com/ethantw/timelines/419245224007696385" data-widget-id="529469943549419521">關於「漢字標準格式」的回響及推文</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    footer.layout
      p.signature(lang='cmn-Latn'): a(href='https://twitter.com/ethantw') Chen Yijun
      p 「漢字標準格式」使用「
        a(href='/LICENSE.md') MIT License
        | 」授權，使用手冊則以
        a(href='https://creativecommons.org/licenses/by/3.0/tw/') 創用CC「姓名標示－3.0」
        | 釋出。
      ul
        li.version 當前版本：v3.0.0
        li: a(href='https://github.com/ethantw/Han') GitHub Project
        li: a(href='//ethantw.github.io/Han/latest') 範例測試頁
        li: a(href='https://github.com/ethantw/Han/issues') 提問題
    //- Han.js
    script(src='{{asset-path}}latest/han.min.js')
    script(src='{{asset-path}}app.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-18673404-2', 'auto');
      ga('send', 'pageview');
