doctype html
html(lang='zh-Hant')
  head
    meta(charset='utf-8')
    title 漢字標準格式・無干擾範例預覽頁面
    //- Han.css
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/Han/{{han-version}}/han.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    style.
      html,
      body {
        font-size: 16px;
        overflow: hidden;
      }

      h1:first-child,
      h2:first-child,
      h3:first-child,
      h4:first-child,
      h5:first-child,
      h6:first-child {
        margin-top: .5em;
      }

      h1 + p,
      h2 + p,
      h3 + p,
      h4 + p,
      h5 + p,
      h6 + p {
        margin-top: -1em;
      }
  body.example
    div#replacee
      p 範例正在載入中……
    //- Han.js
    script(src='//cdnjs.cloudflare.com/ajax/libs/Han/{{han-version}}/han.min.js')
