doctype html
html(lang='zh-Hant').han-init
  head
    meta(charset='utf-8')
    title {{manual-page-title}}漢字標準格式・使用手冊
    //- Han.css
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/Han/3.0.0/han.min.css')
    link(rel='stylesheet', href='{{asset-path}}style.css')

    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='印刷品般的漢字網頁排版框架')
    meta(name='keywords' content='漢字標準格式, 中文, 排版, 排版規範, 日文, 字體排印, 文字設計, CLReq, CSS, Sass, typography')
  
    link(rel='shortcut icon' href='/img/favicon.png')
    link(rel='apple-touch-icon' href='{{asset-path}}img/apple-touch-icon.png')
    
    meta(property='og:title' content='{{manual-page-title}}漢字標準格式・使用手冊')
    meta(property='og:description' content='「漢字標準格式」是一套集成「語意樣式標準化」「文字設計」「高級排版功能」三大模組，完整支援繁簡中文與日文的排版框架，係萬維網時代的漢字問題解決之道。')
    meta(property='og:image' content='http://css.hanzi.co/img/typeset.png')
    meta(property='og:image' content='http://css.hanzi.co/img/em-based.png')
    meta(property='og:image' content='http://css.hanzi.co/img/typefaces.png')
    link(rel='image_src' href='http://css.hanzi.co/img/typeset.png')
  body(class='manual {{manual-page-id}}' data-chap='{{manual-page-id}}')
    header.layout
      div
        .logo
          h1: a(href='/manual/') 漢字標準格式
          p.desc 印刷品般的漢字排版框架
        a#github-repo(href='https://github.com/ethantw/Han') GitHub Project
        button#trad2simp 繁簡切換
        button#toggle-nav(hidden) 選單開關
    article.main-content.layout
      | {{parsed-article-html}}
      footer.main-content
        ul.github.
          <li><a id='edit-this' href='https://github.com/ethantw/Han-Manual/tree/master/doc'>協助妥善這分文件</a>
          <li><a id='issue-this' href='https://github.com/ethantw/Han/issues'>提問題</a>
        ul.share
          li: button#share2twr(title='分享至Twitter') 分享至Twitter
          li: button#share2fb(title='分享至Facebook') 分享至Facebook
          li: button#share2goog(title='分享至Google+') 分享至Google+
          li: button#share2wbo(title='分享至新浪微博') 分享至新浪微博
    nav.layout.toc
      ol
        li.conghe_kaishi.starting 從何開始
          ol
            li.jianjie.index: a(href='/manual') 簡介
            li.install.anzhuang_yu_qiyong: a(href='/manual/anzhuang_yu_qiyong') 安裝與啓用
            li.faq: a(href='/manual/faq') 常見問題
            li.glossary: a(href='/manual/glossary') 辭彙表
        li.jiben_gongneng.basic 基本功能
          ol
            li.yangshi_biaozhunhua.normalisation
              a(href='/manual/yangshi_biaozhunhua') 樣式標準化
              ol
                li.gaishu: a(href='/manual/yangshi_biaozhunhua#gaishu') 概述
                li.quanyu_zitiyangshi: a(href='/manual/yangshi_biaozhunhua#quanyu_ziti_yangshi') 全域字體樣式
                li.suojin: a(href='/manual/yangshi_biaozhunhua#suojin') 縮進
                li.lianluozixun_yuansu: a(href='/manual/yangshi_biaozhunhua#lianluozixun_yuansu') 聯絡資訊元素
                li.geshiyuchuli_yuansu: a(href='/manual/yangshi_biaozhunhua#geshiyuchuli_yuansu') 格式預處理元素
                li.chaolianjie_yuansu: a(href='/manual/yangshi_biaozhunhua#chaolianjie_yuansu') 超連結元素
                li.qiangdiao_yu_zhongdian: a(href='/manual/yangshi_biaozhunhua#qiangdiao_yu_zhongdian') 強調與重點
                li.qita_cuti_wenben: a(href='/manual/yangshi_biaozhunhua#qita_cuti_wenben') 其他粗體文本
                li.laiyuan_yu_yinyong_yuansu: a(href='/manual/yangshi_biaozhunhua#laiyuan_yu_yinyong_yuansu') 來源與引用元素
                li.jisuanji_xiangguan_wenben: a(href='/manual/yangshi_biaozhunhua#jisuanji_xiangguan_wenben') 計算機相關文本
                li.bianyinwenzi_yu_bianshu_yuansu: a(href='/manual/yangshi_biaozhunhua#bianyinwenzi_yu_bianshu_yuansu') 變音文字與變數元素
                li.wenzi_zhuangshixian: a(href='/manual/yangshi_biaozhunhua#wenzi_zhuangshixian') 文字裝飾線
                li.hangjianzhu_yuansu: a(href='/manual/yangshi_biaozhunhua#hangjianzhu_yuansu') 行間注元素
            li.wenzisheji.typography
              a(href='/manual/wenzisheji') 文字設計
              ol
                li.ziti_huitui_jizhi: a(href='/manual/wenzisheji#ziti_huitui_jizhi') 字體回退機制
                li.biaodian_yangshi_xiuzheng: a(href='/manual/wenzisheji#biaodian_yangshi_xiuzheng') 標點樣式修正
                li.yushe_xiwen_ziti: a(href='/manual/wenzisheji#yushe_xiwen_ziti') 預設西文字體
                li.zhongwen_hanzi_zitiji: a(href='/manual/wenzisheji#zhongwen_hanzi_zitiji') 中文漢字字體集
                li.yuansu_ziti_de_zhiding: a(href='/manual/wenzisheji#yuansu_ziti_de_zhiding') 元素字體的指定
                li.butong_qingjing_xia_de_ziti: a(href='/manual/wenzisheji#butong_qingjing_xia_de_ziti') 不同情境下的字體
            li.zhangjie_de_bianpai.sectional
              a(href='/manual/zhangjie_de_bianpai') 章節的編排
              ol
                li.gaishu: a(href='/manual/zhangjie_de_bianpai#gaishu') 概述
                li.wenzhang_de_hanggao: a(href='/manual/zhangjie_de_bianpai#wenzhang_de_hanggao') 文章的行高
                li.wenzhang_de_duiqi: a(href='/manual/zhangjie_de_bianpai#wenzhang_de_duiqi') 文章的對齊
                li.wenzhang_zhangjie_yu_neirong_de_bianjie_tiaozheng: a(href='/manual/zhangjie_de_bianpai#wenzhang_zhangjie_yu_neirong_de_bianjie_tiaozheng') 文章、章節與內容的邊界調整
                li.zhangjie_yu_mulu_de_jishu: a(href='/manual/zhangjie_de_bianpai#zhangjie_yu_mulu_de_jishu') 章節與目錄的計數
            li.hang_de_zucheng.inline
              a(href='/manual/hang_de_zucheng') 行的組成
              ol
                li.gaishu: a(href='/manual/hang_de_zucheng#gaishu') 概述
                li.hanzi-xiwen_hunpai_jianxi: a(href='/manual/hang_de_zucheng#hanzi-xiwen_hunpai_jianxi') 漢字－西文混排間隙
                li.biaodian_jiya: a(href='/manual/hang_de_zucheng#biaodian_jiya') 標點擠壓
                li.ziyuan_de_tihuan: a(href='/manual/hang_de_zucheng#ziyuan_de_tihuan') 字元的替換
        li.api APIs
          ol
            li.sass-api
              a(href='/manual/sass-api') Sass
              ol
                li.gaishu: a(href='/manual/sass-api#gaishu') 概述
                li.module: a(href='/manual/sass-api#module') 模組
                li.ziti_jixing_extend: a(href='/manual/sass-api#ziti_jixing_extend') 字體基型@extend
                li.sectional: a(href='/manual/sass-api#sectional') 章節的編排
                li.inline: a(href='/manual/sass-api#inline') 行的組成
                li.variable: a(href='/manual/sass-api#variable') Sass變數彙整
            li.js-api
              a(href='/manual/js-api') JavaScript腳本
              ol
                li.gaishu: a(href='/manual/js-api#gaishu') 概述
                li.han: a(href='/manual/js-api#han') Han構造函數
                li.rendering: a(href='/manual/js-api#rendering') 渲染機制
                li.init-cond: a(href='/manual/js-api#init-cond') 環境初始化
                li.normalize: a(href='/manual/js-api#normalize') 樣式標準化
                li.inline: a(href='/manual/js-api#inline') 行的組成
                li.support: a(href='/manual/js-api#support') 功能與字體支援偵測
                li.find: a(href='/manual/js-api#find') 字元査替器
                li.unicode: a(href='/manual/js-api#unicode') 萬國碼區段及正則表達式
    //- Han.js
    script(src='//cdnjs.cloudflare.com/ajax/libs/Han/3.0.0/han.min.js')
    //- Other libraries & main app
    script(src='{{asset-path}}app.js')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-18673404-2', 'auto');
      ga('send', 'pageview');
