
footer.main-content
  // posi
  margin-top: 2rem
  // box
  padding-bottom: 2rem
  // style
  border-top: 1px dotted #bbb

  ul
    // posi
    margin: 0
    // box
    padding: .5em .25em
    // typo
    list-style: none

    li
      display: inline-block
  button
    // typo
    font-size: .8em
    // style
    background: none
    border: 1px solid #bbb
    border-radius: .4em
    color: #999
