
article.main-content
  padding: 0 .5em

  h1,
  h2
    // typo
    font-weight: normal
  h1
    // typo
    font-family: 'Biaodian Pro Serif', Georgia, 'Kozuka Mincho Pr6N', 'Kozuka Mincho Pro', YuMincho, 'Hiragino Mincho ProN', 'Songti SC', 'Songti TC', 'Han Heiti', sans-serif
    letter-spacing: .125em
    // style
    color: #6f6359
    text-shadow: 1px 1px 1px #d5d2d2

    &:not(:lang(zh)):not(:lang(ja)),
    *:not(:lang(zh)):not(:lang(ja))
      font-family: Optima, 'Avenir Next', Avenir, Georgia, serif
      letter-spacing: 0
    hws
      font-size: .25em
  h2
    // posi
    margin-bottom: 1em
    // style
    border-bottom: 1px solid #dcd6ca
    color: #666
  *:not(h1) + h2
    padding-top: 1.5em
  h2,
  h3,
  h4,
  h5,
  h6
    position: relative

    &:target a.heading-anchor,
    &:hover a.heading-anchor
      border: 0 none !important
      opacity: 1
  .example,
  .info
    a.heading-anchor
      display: none !important
  hr
    border: 0 none
    border-top: 1px solid #ddd
  table
    // typo
    font-size: .95em

    &.wider
      // box
      width: 130%
  thead
    // style
    border-bottom: 2px solid #e0dfca
  th,
  td
    // typo
    text-align: left
    // box
    padding: .125em .3em
  th
    // typo
    font-weight: normal
    // style
    color: #6d5c55

    small
      color: #777
  tr
    // style
    border-bottom: 1px dotted #ddd

    &:first-child td
      padding-top: .25em
    &:last-child
      border: 0
  a:hover
    border-bottom: 1px dotted rgba(#999, .8)
    padding-bottom: .05em
  .char-display
    background-color: rgba(90%, 85%, 80%, .4)
    border-radius: .25em
    color: #9c8d66
    padding: 2px 3px

/*  Components
   ------------ */

a.heading-anchor
  @extend %fa
  @extend %fa-paperclip
  // posi
  position: absolute
  bottom: .125em
  // box
  display: inline-block
  height: 1.2em
  width: 1.2em
  overflow: hidden
  // typo
  font-size: 1em
  // style
  color: transparent
  cursor: pointer
  opacity: 0

  &:before
    // posi
    position: absolute
    // style
    color: #76a633
    text-shadow: #ddd 1px 1px 0

div.example,
blockquote.example,
figure.example,
pre
  // posi
  margin: 0 auto
  // box
  display: block
  //width: 98%
  padding: .5em .75em
  // style
  border: 1px solid #dbdbdb
  border-radius: .25em

  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  figure,
  blockquote,
  footer.cite p
    &:first-child
      margin-top: .25em
    &:last-child
      margin-bottom: .5em
  figure:last-child
    margin-bottom: .75em
pre
  // typo
  font-size: .9em
  // style
  background-color: #eeedeb
h3,
h4,
h5,
h6
  & + pre,
  & + .example
    margin-top: -.5em
.example + pre
  // posi
  margin-top: -.5em
  border-top-left-radius: 0
  border-top-right-radius: 0
.itff + pre
  // posi
  margin-top: -1em
.example
  pre + &,
  & + &
    // posi
    margin-top: 1em
div.info
  // posi
  margin: 1.75em 0
  // typo
  font-size: .85em
  // style
  border-top: 1px solid #eee
  color: #333

  h4,
  h5,
  p
    margin: .6em 0
blockquote,
.example
  footer.cite,
  footer.cite p
    // typo
    font-size: .95em
    text-align: right
.itff
  // box
  padding-bottom: 0

  iframe
    // box
    height: 100%
    width: 100%
    overflow: hidden
    // style
    border: 0 none
.info.parameter
  // style
  border: 1px solid rgba(#986, .3)
  border-radius: .25em

  h4,
  h5,
  h6
    // posi
    margin: 0 0 1em
    // box
    padding-top: .25em
    // typo
    font-weight: normal
    text-align: center
    // style
    color: #c27042

    &:lang(zh),
    *:lang(zh)
      letter-spacing: .25em
  h4
    background-color: rgba(#fefff8, .5)
    border-bottom: 1px solid rgba(#986, .4)
    border-top-left-radius: .25em
    border-top-right-radius: .25em
  dl
    // posi
    margin: -.5em 0 0
    // box
    padding: .25em .5em .5em
  dl p
    margin: 0 0
  dt code
    // box
    padding: 0
    // style
    background: transparent
    color: #986
  dd
    margin: 0
footer.main-content
  // posi
  position: relative
  bottom: 0
  margin-top: 7rem
  // box
  width: 100%
  padding-bottom: 1rem
  // style
  //border-top: 1px dotted #bbb

  ul
    // posi
    margin: 0
    // box
    padding: .5em .25em
    // typo
    list-style: none
    // style
    opacity: .4

    li
      display: inline-block
  &:hover ul
    opacity: 1
  a,
  button
    @extend %fa
    // box
    display: inline-block
    overflow: hidden
    // typo
    font-size: 1em
    // style
    background: none
    outline: 0
  ul.share li
    // posi
    margin-right: .25em
    // box
    display: inline-block
    overflow: hidden
    height: 2.25rem
    width: 2.25rem
  ul.share button
    // posi
    position: relative
    // box
    height: 100%
    width: 100%
    // typo
    font-size: 1.5rem
    // style
    background-color: #000
    border: 0 none
    border-radius: 50%
    color: transparent

    &:before
      // posi
      position: absolute
      top: 0
      left: 0
      // box
      width: 100%
      height: 100%
      line-height: 1.6
      text-align: center
      // style
      color: #fff
    &:hover
      background-color: #000 !important
    &:active
      background-color: #777 !important
  ul.github
    // posi
    float: right
    margin-top: .125em

    li:first-child a
      // box
      padding-left: .75em
      // style
      border-top-left-radius: 2rem
      border-bottom-left-radius: 2rem
    li:last-child a
      // posi
      margin-left: -1px
      // box
      padding-right: .75em
      // style
      border-top-right-radius: 2rem
      border-bottom-right-radius: 2rem
    a
      // posi
      position: relative
      z-index: 5
      // box
      padding: .25em .5em
      // style
      border: 1px solid #999
      color: #444

      &:before
        // posi
        margin-right: .33em
        // typo
        font-size: 1.1em
        // style
        color: #d75534
      &:hover
        // posi
        z-index: 10
        // style
        border: 1px solid lighten(#d75534, 15%)
        color: darken(#b28f70, 15%)
        text-shadow: 0 0 3px #f2e9cd
      &:active
        color: #333
      &:hover:before,
      &:active:before
        color: darken(#d75534, 15%)

#edit-this
  @extend %fa-code-fork
#issue-this
  @extend %fa-exclamation-circle
#share2twr
  @extend %fa-twitter
  background-color: #55acee
#share2fb
  @extend %fa-facebook
  background-color: #3b5998
#share2goog
  @extend %fa-google-plus
  background-color: #d34836
#share2wbo
  @extend %fa-weibo
  background-color: #e6162d
