

/* =================================================
    Navigator
   ================================================= */

nav#sidebar {
    /* theme */
    background-color: #dadad2;
    border-right: 2px solid #f9f9f7;
    box-shadow: inset #cbcbbf -20px 20px 35px,
                inset #333 -1px 0 0,
                #ddd 1px 0 0;


    /* positioning */
    bottom: 0;
    height: 100%;
    position: fixed;
    width: 280px;
    z-index: 20;

    ol, ul {
        list-style: none;
        padding: 0;
    }

    & > div > ul {
        background-color: #eee;
        border: 1px solid #bbb;
        border-radius: 7px;
        left: 5%;
        margin: 0;
        opacity: .8;
        overflow-y: auto;
        position: absolute;
        top: 145px;
        width: 90%;
    }

    & > div > ul > li {
        font-size: 1.05em;
        letter-spacing: .25em;
        margin: 0;


        &:last-child {
            border: none;
        }

        & > a,
        & > .not-a-link {
            border-bottom: 1px solid #ccc;
            color: #725530;
            display: block;
            padding: .35em .75em .4em;
        }

        & > a:hover,
        & > a.current {
            background-color: rgba(#ddd, .8);
            box-shadow: inset rgba(#aaa, .3) 1px 3px 7px;
            color: darken(#725530, 15%);
        }

        &:first-of-type > a {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            margin-top: -1px;
        }

        &:last-of-type > a {
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            border-bottom: 0;
            margin-bottom: -1px;
        }

        & > .not-a-link {
            color: darken(#347837, 15%);
            border-bottom: 1px solid #ccc;

            &:hover {  color: darken(#347837, 15%);  }
        }
    }

    & > div > ul > li > ol {
        font-size: .9em;
        letter-spacing: 0;
        margin: 0;

        & :not(:lang(zh)):not(:lang(jp)) {
            letter-spacing: 0;
        }


        & > li a {
            border-bottom: 1px dotted #ddd;
            color: #347837;
            display: block;
            line-height: 1.6;
            padding: .4em .5em .4em 1em;


            &:hover,
            &.current {
                border-color: #6a6;
                color: darken(#347837, 10%);
                font-weight: bolder;
            }
        }

        & ol {
            background-color: #e2e2db;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #bbb;
            box-shadow: inset darken(#e2e2db, 5%) 0 10px 10px;
            counter-reset: section-0;
            list-style: none;
            margin: -1px 0 0;
            padding: .5em 0;
        }

        & ol li a {
            border: 0;
            padding: .2em .5em .2em 1em;

            &:before {
                content: counter(section-0) '';
                counter-increment: section-0;
                display: inline-block;
                font-family: 'Helvetica Neue', Arial, sans-serif;
                margin-right: .75em;
                text-align: right;
                width: 1em;
            }

            &.current {  cursor: default;  }

            &:hover:before,
            &.current:before {
                @include fawesome('\f0a9 ');
            }
        }
    }
}


/* =================================================
    不同頁面下的樹狀選單
   ================================================= */

nav#sidebar > div > ul > li > ol > li > ol {
    display: none;
}


&.hanzi_biaozhun_geshi nav#sidebar ul,
&.api nav#sidebar ul,
&.appendix nav#sidebar ul {
    border-bottom: 0;
    border-radius: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    @include calc(height, "100% - 145px");
    padding-bottom: 1em;
}


&.hanzi_biaozhun_geshi nav#sidebar a[href="hanzi_biaozhun_geshi/"] + ol,
&.api nav#sidebar a[href="api/"] + ol,
&.appendix nav#sidebar a[href="appendix/"] + ol {
    display: block;
}





















