

/* =================================================
    章節〈JavaScript函式〉的專用樣式
 * ================================================= */

.manual.api {
    article article {
        left: 0;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }

    article article h1:nth-of-type(1) {
        border: 0 none;
        margin: 0;
        position: relative;
        text-align: left;
    }

    article article:lang(zh) p {
        text-indent: 0;
    }

    article header[id=javascript_jiekou]:nth-of-type(1) ~ p:nth-of-type(1)::first-letter {
        display: inline;
        float: none;
        font: 1em 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro',
            'Hiragino Sans GB', 'Han Heiti', san-serif;
        margin-right: 0;
        margin-top: -moz-calc(0);
    }

    article header[id=javascript_jiekou] h1 span:not(.hanla) {
        color: rgba(55%, 60%, 30%, .8);
        display: inline-block;
        font: 400 1.2em 'Avenir Next', Avenir, 
            'Helvetica Neue', Helvetica, Arial, sans-serif;
        letter-spacing: -.11em;
        margin-left: .2em;
        text-shadow: none;
    }

    article header[id=javascript_jiekou] h1 span:not(.hanla):before {
        color: rgba(55%, 60%, 30%, .3);
        content: '\F054';
        font: .75em FontAwesome, sans-serif;
        margin-right: .3em;
    }

    article header[id=javascript_jiekou] h1 span.middle-dot {
        display: none;
    }

    article header[id=javascript_jiekou] h1:hover span:not(.hanla) {
        color: rgba(55%, 60%, 30%, .9);
    }

    article p dfn.initial {
        background-color: rgba(50%, 70%, 50%, .2);
        color: rgba(55%, 60%, 30%, .75);
        font: 400 1.5em 'Avenir Next', Avenir, 
            'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        line-height: 1.3em;
        letter-spacing: -.05em;
        margin: -.25em .25em 0 0;
    }


    article > div.api {
        margin-top: 3em;
    }

    div.api article {
        background-color: rgba(65%, 50%, 5%, .1);
        border: 1px solid rgba(20%, 15%, 3%, .2);
        border-radius: 3px;
        color: #553;
        font-size: .9em;
        margin: .5em auto 2em;
        padding: .5em .25em;
        width: 93%;
 
        &:hover {
            background-color: rgba(65%, 50%, 5%, .15);
            border: 1px solid rgba(20%, 15%, 3%, .3);
        }
    }

    article article h1:nth-of-type(1) {
        color: rgb(45%, 35%, 10%);
        font: 500 1.5em 'Avenir Next', Avenir, 
            'Helvetica Neue', Helvetica, Arial, sans-serif;
        letter-spacing: -.05em;
    }

    article article h1:nth-of-type(1):after {
        border-bottom: 3px solid #675311;
        content: '';
        display: block;
        opacity: .7;
        width: 35px;
    }

    article article p {
        margin: .5em .5em .25em;
    }
}
























