

/* =================================================
    `<article>`區塊
   ================================================= */

article {
    left: 150px;
    margin: 15em auto 17em;
    max-width: 40em;
}

article header {
    background: none;
    margin: 0;
    text-align: center;
    width: 100%;
}

article hr {
    background: url(../img/hr.png) no-repeat center center;
    background-size: 35px 11px;
    border: 0 none;
    height: 15px;
    margin: 3em 0 2em;
    opacity: .6;
}

article h1:nth-of-type(1) {
    font: 1.7em 'Biaodian Pro Serif', Optima, Georgia, Times, 'Times New Roman',
    'Hiragino Mincho ProN', 'Hiragino Mincho Pro',
    'Kozuka Mincho Pro', 'Han Songti', serif;
    letter-spacing: .1em;
    padding: 0 0 .3em .25em;
    text-align: center;
}

:root:lang(zh) & article h1 :not(:lang(zh)),
:root:lang(zh) & article h1:nth-of-type(1):not(:lang(zh)) {
    font-family: Optima, Georgia, Times, 'Times New Roman',
    'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'Han Songti', serif;
    letter-spacing: .05em;
}

article h1:nth-of-type(1) {
    border-bottom: 2px solid #dcbe7d;
}

article h1:nth-of-type(1):hover {
    border-bottom-color: #d1ab55;
}

article h1:nth-of-type(1),
article h1:nth-of-type(1) a:link,
article h1:nth-of-type(1) a:visited {
    color: #b22731;
    text-shadow: #d99864 0 0 3px;
}

article h1:hover,
article h1:nth-of-type(1) a:hover,
article h1:nth-of-type(1) a:active {
    color: #ce2d39;
}

article header:nth-of-type(1) ~ p:nth-of-type(1):first-letter {
    display: inline-block;
    float: left;
    font: 2.5em Georgia, Times, 'Times New Roman',
        'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'Han Songti', serif;
    margin-right: .1em;
    margin-top: -moz-calc(.35em);
}

article header:nth-of-type(1) ~ p:nth-of-type(1) + * {
    clear: both;
}

article h2 {
    border-bottom: 1px solid #ccc;
    color: #6e5a45;
    letter-spacing: 5px;
    margin: 3.5em 0 1.5em;
    padding-bottom: .15em;
}

article h2 u:lang(zh) {
    border: 0 none;
    letter-spacing: inherit;
}

article h3 {
    color: #b93f1b;
}

article h2,
article h3 {
    font-family: 'Biaodian Pro Serif', Georgia, Times, 'Times New Roman',
        'Hiragino Mincho ProN', 'Hiragino Mincho Pro', serif;
    font-weight: normal;
}

article h4 {
    margin: 1.5em 0 .5em;
}

.han-biaodian-pro & article h2 :not(:lang(zh)):not(:lang(ja)),
.han-biaodian-pro & article h3 :not(:lang(zh)):not(:lang(ja)) {
    font-family: Georgia, Times, 'Times New Roman',
        'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'Kozuka Mincho Pro', serif;
    letter-spacing: 1px;
}




















