

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 760px),
(min-resolution: 192dpi) and (max-width: 760px) {

	.manual nav#sidebar header {
        @include scale(.9);
        padding: .25em 0;  

        p.des {
        	display: block;
        	font-size: .9em;
        	line-height: 1.5;
        }
    }

}









