

/* ---------------------------------------
   字體、連結文字、清單、代碼⋯⋯等，
   基本元素的樣式及重設
   --------------------------------------- */

html {
    font: 15px
        'Biaodian Sans Pro',
        'Helvetica Neue', Helvetica, Arial,
        'Han Heiti', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-overflow-scrolling: touch;
}


header,
nav,
article,
footer {
    position: relative;
}

a {
    &:link,
    &:visited {
        color: #0645ad;
    }

    &:hover {
        color: #04317c;
    }

    &:active {
        color: #faa700;
    }
}


article {
    color: #222;
    font: .95em 'Biaodian Pro Sans', 'Helvetica Neue', Helvetica, Arial,
        'Han Heiti', sans-serif;

    ul {
        list-style: square;
    }

    ul ul {
        list-style: disc;
    }

    a.external.text:after {
        color: #110c76;
        content: '\F08E';
        font: normal .7em FontAwesome, sans-serif normal;
        padding: 0 .125em 0 .4em;
        text-emphasis: none;
            -webkit-text-emphasis: none;
        vertical-align: middle;
        width: 1em;
    }
}



html:lang(zh).han-biaodian-pro code {
    font-family: 'Biaodian Pro Sans',
        Consolas, Menlo, 'Liberation Mono', Courier, 
        'Han Heiti', monospace, sans-serif;

    &:not(:lang(zh)):not(:lang(ja)),
    & :not(:lang(zh)):not(:lang(ja)) {
        font-family: Consolas, Menlo, 'Liberation Mono', Courier, 
            'Han Heiti', monospace, sans-serif;
    }
}



code {
    p &,
    li &,
    dl > * &,
    table & {
        color: #070;
        font-size: .9em;
        line-height: 1em;
        vertical-align: -.05em;
    }
}


li pre {
    margin: 0;
}

pre code {
    background-color: #f1f1ee;
    border: 1px solid #bbb;
    border-radius:          3px;
        -moz-border-radius: 3px;
    box-shadow:             #e0ccb7 0 1px 5px inset;
        -moz-box-shadow:    #e0ccb7 0 1px 5px inset;
        -webkit-box-shadow: #e0ccb7 0 1px 5px inset;
    color: #6b5438;
    font-size: .9em;
    line-height: 1.5;
    margin: 1em auto 2em;
    padding: 7px;
    width: 95%;
}



/* -------------------------------------
 * 主題樣式
 * ------------------------------------- */

/* 漸層背景 */
body:before {
    background-color: #f1f1ee;
    background-image: -moz-radial-gradient(50% 50%, circle cover, #fff, #d9dbd1 60%);
    background-image: -ms-radial-gradient(50% 50%, circle cover, #fff, #d9dbd1 60%);
    background-image: -webkit-radial-gradient(50% 50%, circle cover, #fff, #d9dbd1 60%);
    background-image: radial-gradient(50% 50%, circle cover, #fff, #d9dbd1 60%);
    content: '';
    display: block;
    height: 120%;
    left: -5%;
    opacity: .7;
    position: fixed;
    top: -5%;
    width: 120%;
    z-index: -5;
}

header {
    background: url(../img/hr.png) no-repeat center bottom;
    background-size: 35px 11px;
    height: 5em;
    padding-bottom: 3em;
    text-align: center;
}


header h1 {
    font: 300 1.65em
        'Biaodian Pro Serif CNS', 'Bell MT', Georgia, 'Times New Roman',
        'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'Kozuka Mincho Pro',
        '華康明體 Std', DFMingStd-W3, SimSun, serif;
    letter-spacing: .25em;
    margin: 0;
    padding: .95em 0 .125em;
    text-shadow: #999 1px 1px 3px;


    a:link,
    a:visited {  color: #058455;  }
    a:hover {  color: #069460;  }
    a:active {  color: #035335;  }

    a:link:last-child,
    a:visited:last-child {  color: #069460;  }

    sup,
    sup a:link,
    sup a:visited {
        color: #d6a901;
        font: bold .75em Courier, monospace;
        letter-spacing: 1px;
        padding-left: .1em;
        top: -.025em;
        vertical-align: top;
    }

    sup a:hover {
        text-decoration: underline !important;
    }

    & + p.des {
        color: #6e8561;
        font-family: 'Biaodian Pro Sans', 'Helvetica Neue', Helvetica, Arial,
            'Han Heiti', sans-serif;
        font-size: .8em;
        font-weight: normal;
        letter-spacing: .25em;
        margin: -.2em .125em;
    }

    & + p.des u {  letter-spacing: 0;  margin-right: .35em;  }

}

/* Fork圖章 */
#fork {
    background: url(../img/fork.png) no-repeat 0 0;
    background-size: 140px 280px;
    border: 0 none;
    height: 140px;
    left: -5px;
    position: fixed;
    text-indent: -999999px;
    top: 0;
    width: 150px;
    z-index: 5;
}











