

@mixin scale( $size: .55 ) {
    -moz-transform:     scale( $size );
    -webkit-transform:  scale( $size );
    transform:          scale( $size );
}


@mixin calc($prop, $exp) { 
	#{$prop}: -moz-calc(#{$exp});
  	#{$prop}: -webkit-calc(#{$exp});
  	#{$prop}: calc(#{$exp}); 
} 


@mixin fawesome($icon: '') {
	content: $icon;
	font-family: FontAwesome, sans-serif;
	font-style: normal;
	font-weight: normal;
}









