@charset 'utf-8';


/* =================================================
    滙入CSS3簡化函式
 * ================================================= */

@import 'css3';



/* =================================================
    使用手冊固定樣式
 * ================================================= */

.manual {
    -webkit-overflow-scrolling: touch;


    * {
        box-sizing: border-box;
    }

    header,
    header * {
        box-sizing: content-box;
    }

    #fork {
        left: 281px;
        position: absolute;
    }


    @import 'manual.nav';
    @import 'manual.article';
    @import 'manual.rwd';
}



/* =================================================
    Semantics
 * ================================================= */

.no-biaodian {
    font-family: sans-serif;
}

/*  引言區塊下方的`<cite>`元素
 * ================================================= */

blockquote + p.cite {
    color: #333;
    font-size: .9em;
    margin: -1.5rem 0 2rem;
    text-align: right;
}

article:lang(zh) blockquote + p.cite:before {
    content: '——';
    font-family: 'Biaodian Pro Sans', 'Han Heiti', sans-serif;
    padding-right: .25em;
}

article:lang(zh) blockquote b {
    font-family: 'Biaodian Pro Sans', 'Han Heiti', sans-serif;
}



@import 'manual.indices';
@import 'manual.table';
@import 'manual.api';




























