doctype html
html(lang='zh-Hant')
  head
    meta(charset='utf-8')
    title 萌典字體連字測試
    link(rel='stylesheet' href='//css.hanzi.co/latest/han.min.css')
    link(rel='stylesheet' href='liga.css')
  body
    h1 萌典字體連字測試
    h2 標點符號
    p
      | 破折號：—— —<br>
      | 省略號：…… …
    h2 陽平及陽入韻
    p 
      | aeiouâêîôûa̍e̍i̍o̍u̍<br>
      | ㆴㆵㆶㆷㆴ͘ㆵ͘ㆶ͘ㆷ͘
    h3 TTF
    p.ttf 
      | aeiouâêîôûa̍e̍i̍o̍u̍<br>
      | ㆴㆵㆶㆷㆴ͘ㆵ͘ㆶ͘ㆷ͘<br>
      | That is right!
    h3 使用PUA顯示陽平、陽入韻
    p
      | &#xF0061;&#xF0065;&#xF0069;&#xF006F;&#xF0075;<br>
      | &#xF6102;&#xF6502;&#xF6902;&#xF6F02;&#xF7502;<br>
      | &#xF0061;&#xF0065;&#xF0069;&#xF006F;&#xF0075;<br>
      | &#xF31B4;&#xF31B5;&#xF31B6;&#xF31B7;
    script(src='//css.hanzi.co/latest/han.min.js')
    script.
      console.log( Han.isCombLigaNormal )

